.header {
    background: rgba(203, 223, 254, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    width: 100%;
    z-index: 10000;
}

.header :global(.p-button) {
    background: #404F66 !important;
    box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
    border-radius: 10px;
    border: none;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #008BF4;
}

.navItems li {
    padding: 5px 10px;
}

.navItems svg {
    color: #008BF4;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 60px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px;
}

.dropdown ul {
    padding: 0;
    list-style: none;
}

.dropdown ul li {
    padding: 7px 5px;
}

.mobileNavItems ul {
    padding: 0 !important;
    list-style: none;
}

.mobileNavItems ul li {
    padding: 10px 7px;
}

.mobileNavItems ul li a {
    text-decoration: none;
    color: #222D39;
}

@media screen and (max-width: 575px) {
    .navItems {
        display: none;
    }
}