.heroSection {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroText h1 {
    font-weight: 700;
font-size: 30px;
line-height: 50px;
    color: #222D39;
}

.heroText strong {
    border-bottom: 3px solid #FF6C59;
}

.heroText p {
    font-weight: 400;
    font-size: 20px;
    color: #222D39;
}

.heroText .p-button, .p-button:hover, .p-button:focus {
    background-color: #0CBC8B !important;
    box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
    border-radius: 8.66759px;
    border: none;
}

.tabButtons {
    background: #FFFFFF;
box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04), 0px 1.6711px 33.4221px rgba(0, 0, 0, 0.0287542), 0px 0.893452px 17.869px rgba(0, 0, 0, 0.0238443), 0px 0.500862px 10.0172px rgba(0, 0, 0, 0.02), 0px 0.266004px 5.32008px rgba(0, 0, 0, 0.0161557), 0px 0.11069px 2.21381px rgba(0, 0, 0, 0.0112458);
border-radius: 70px;
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
}

.tabButtons button {
    padding: 15px 30px;
    background: transparent;
border-radius: 70px;
border: none;
outline: none;
cursor: pointer;
}

.active {
    background: #2BC7B1 !important;
box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04), 0px 1.6711px 33.4221px rgba(0, 0, 0, 0.0287542), 0px 0.893452px 17.869px rgba(0, 0, 0, 0.0238443), 0px 0.500862px 10.0172px rgba(0, 0, 0, 0.02), 0px 0.266004px 5.32008px rgba(0, 0, 0, 0.0161557), 0px 0.11069px 2.21381px rgba(0, 0, 0, 0.0112458);
}

.imageDiv {
    max-height: 600px;
    height: 1000px;
}

.imageDiv img {
    max-height: 100%;
    object-fit: cover;
    height: 100%;
}

.inputZip input {
    border-radius: 10px 0px 0px 10px !important;
    width: 80%;
    border: 1px solid #000 !important;
}
.inputZip input:focus {
    box-shadow: none !important;
}
.inputZip button {
    border-radius: 0px 10px 10px 0px !important;
    background: #222D39;
    color: #FFFFFF !important;
    border: 1px solid #222D39;
}

.inputZip button:hover {
    background: #222D39 !important;
    color: #FFFFFF !important;
    border: 1px solid #222D39 !important;
}

.inputZip :global(._heroText_1loah_15 span) {
    color: #fff !important;
}

.featured button {
    border-radius: 10px !important;
    background: #222D39;
    color: #FFFFFF !important;
    border: 1px solid #222D39;
}

.featured button:hover {
    background: #222D39 !important;
    color: #FFFFFF !important;
    border: 1px solid #222D39 !important;
}
.price {
    background: rgba(153, 153, 153, 0.04);
    padding: 40px 60px;
}

.price button {
    border-radius: 10px !important;
    background: #222D39;
    color: #FFFFFF !important;
    border: 1px solid #222D39;
}

.price button:hover {
    background: #222D39 !important;
    color: #FFFFFF !important;
    border: 1px solid #222D39 !important;
}
.calculate {
    position: relative;
    margin-bottom: 40px;
    padding: 60px 60px;
    background: #FFFFFF;
box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.07), 0px 5.84887px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 3.12708px 17.869px rgba(0, 0, 0, 0.0417275), 0px 1.75302px 10.0172px rgba(0, 0, 0, 0.035), 0px 0.931014px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.387416px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.calculate h1 {
    font-style: italic;
font-weight: 400;
font-size: 172.663px;
line-height: 170px;

color: rgba(34, 45, 57, 0.12);

opacity: 0.5;
position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* z-index: -1; */
    margin: 0;
    text-align: center;
}
.calculate button {
    border-radius: 10px !important;
    background: #222D39;
    color: #FFFFFF !important;
    border: 1px solid #222D39;
}

.calculate button:hover {
    background: #222D39 !important;
    color: #FFFFFF !important;
    border: 1px solid #222D39 !important;
}

.calculate h4 {
    font-weight: 400;
font-size: 24px;
line-height: 48px;
}

.products {
    padding: 40px;
}

.products .text {
    color: #818AA6;
    margin: 8px 0px;
}

.productCard {
    background: #FFFFFF;
    box-shadow: 0px -7px 193px rgba(116, 193, 234, 0.11), 0px -2.92443px 80.6308px rgba(116, 193, 234, 0.079074), 0px -1.56354px 43.1091px rgba(116, 193, 234, 0.0655718), 0px -0.876509px 24.1666px rgba(116, 193, 234, 0.055), 0px -0.465507px 12.8347px rgba(116, 193, 234, 0.0444282), 0px -0.193708px 5.34081px rgba(116, 193, 234, 0.030926);
    border-radius: 47.061px;
    margin: 0px 10px;
    padding: 20px 20px 5px 20px;
    height: 100%;
    cursor: pointer;
}

.productCard:hover {
    background-color: #222D39;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 60px;
}

.gridItems {
    cursor: pointer;
    padding: 40px 20px 20px 10px;
}

.gridItems:hover {
    border-top: 3px solid #222D39;
    background: #FFFFFF;
border-radius: 5px 5px 20px 20px;
box-shadow: 0px -7px 193px rgba(116, 193, 234, 0.11), 0px -2.92443px 80.6308px rgba(116, 193, 234, 0.079074), 0px -1.56354px 43.1091px rgba(116, 193, 234, 0.0655718), 0px -0.876509px 24.1666px rgba(116, 193, 234, 0.055), 0px -0.465507px 12.8347px rgba(116, 193, 234, 0.0444282), 0px -0.193708px 5.34081px rgba(116, 193, 234, 0.030926);
}

.feedback {
    padding: 20px;
    background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.clients button {
    border-radius: 10px !important;
    background: #222D39;
    color: #FFFFFF !important;
    border: 1px solid #222D39;
}

.clients button:hover {
    background: #222D39 !important;
    color: #FFFFFF !important;
    border: 1px solid #222D39 !important;
}

@media screen and (max-width: 1024px) {
    .tabButtons {
        gap: 0px;
    }
    .tabButtons button {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 575px) {
    .heroSection {
        position: relative;
        top: 70px;
    }
    
    .heroText h1 {
        font-size: 24px;
        line-height: 35px;
    }
    .tabButtons {
        gap: 0px;
    }
    .tabButtons button {
        padding: 15px 12px;
    }
    .price {
        padding: 40px 20px;
    }
    .price img {
        max-width: 100%;
        margin-top: -40px !important;
    }
    .calculate {
        padding: 60px 10px;
    }
    .calculate h1 {
        font-size: 55.663px;
        line-height: 100px;
    }
    .grid {
        padding: 0px 40px;
        grid-template-columns: repeat(1, 1fr);
    }
    .products {
        padding: 20px 5px;
    }
    .feedback {
        margin: 0 20px;
    }
}