.tabButtons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tabButtons button {
    padding: 10px;
    border: none;
    outline: none;
    background: #fff;
}

.tabButtons button:hover, button:focus {
    background: #0CBC8B;
border-radius: 8.34123px 8.34123px 0px 0px;
color: #fff;
font-weight: 700;
}

.tabContent input {
    border-radius: 10px 0px 0px 10px;
    border: 0;
box-shadow: 0px -5.83886px 66.7298px rgba(0, 0, 0, 0.07), 0px -2.43934px 27.8781px rgba(0, 0, 0, 0.0503198), 0px -1.30419px 14.905px rgba(0, 0, 0, 0.0417275), 0px -0.731116px 8.35561px rgba(0, 0, 0, 0.035), 0px -0.38829px 4.4376px rgba(0, 0, 0, 0.0282725), 0px -0.161576px 1.84659px rgba(0, 0, 0, 0.0196802);

}

.tabContent button {
    border-radius: 0px 10px 10px 0px !important;
    background: #222D39;
    color: #FFFFFF !important;
    border: 1px solid #222D39;
}

.tabContent button:hover {
    background: #222D39 !important;
    color: #FFFFFF !important;
    border: 1px solid #222D39 !important;
}