@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
::after, ::before, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

i {
    font-family: 'primeicons';
}

h1, h2, h3, h4, h5, h6, p, span, strong, a, li {
    font-family: Poppins;
}

.banner a {
    color: #fff;
    text-decoration: none;
}

.p-button .p-button-label {
    font-family: Poppins !important;
}

.p-sidebar-visible {
    z-index: 10000 !important;
}